@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 259 100% 62.4%;
    --primary-foreground: 229 73.9% 4.5%;

    --light: 0 0% 100%;
    --light-foreground: 229 73.9% 4.5%;

    --grayed: 216 2% 45%;

    --light: 0 0% 0%;

    --dark: 0 100% 100%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 75%;

    --accent: 263 30.2% 49.4%;
    --accent-foreground: 229 73.9% 4.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 259 100% 62.4%;
    --primary-foreground: 229 73.9% 4.5%;

    --light: 0 0% 100%;
    --light-foreground: 229 73.9% 4.5%;

    --grayed: 216 12% 84%;

    --light: 100 100% 100%;

    --dark: 0 0% 0%;

    --muted: 300 2.2% 8.8%;
    --muted-foreground: 300 4.4% 16.16%;

    --accent: 263 30.2% 49.4%;
    --accent-foreground: 229 73.9% 4.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

.light .text-light {
  color: #000;
}

.light .text-dark {
  color: #fff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroll {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.75rem));
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar:horizontal {
    display: none;
  }
}
